<%- include("./partials/header")  %>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Todo_Diary</a>
</nav>

<div class="container mt-5">
    <form action="/todo" method="GET" class="d-flex">
        <input type="submit" value="ToDo" class="btn btn-md btn-primary mx-2">
    </form>

    <form action="/diary" method="GET" class="d-flex">
      <input type="submit" value="Diary" class="btn btn-md btn-primary mx-2">
  </form>

    <form action="/register" method="GET" class="d-flex">
        <input type="submit" value="Register" class="btn btn-md btn-primary mx-2">
    </form>

    <form action="/login" method="GET" class="d-flex">
        <input type="submit" value="Login" class="btn btn-md btn-primary mx-2">
    </form>

    </ul>
</div>



<%- include("./partials/footer")  %>